$forgot-password-form-desktop-side-padding: 40px;
$forgot-password-form-tablet-side-padding: 20px;

.forgot-password-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100svh - 180px);
    background-image: linear-gradient(45deg, $soft-purple, $dark-blue);
    background-size: 140%;
    animation: forgot-password-form-background-animation 30s infinite alternate;

    .forgot-password-form-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $forgot-password-form-desktop-side-padding;
        border-radius: 10px;
        box-shadow: 5px 8px 5px 0px rgba(0, 0, 0, 0.2);
        width: 400px;
        height: auto;
        color: $white;
        background-color: $dark-blue;
      
        .forgot-password-form-title {
            position: absolute;
            top: 20px;
            left: $forgot-password-form-desktop-side-padding;

            h1 {
                font-size: 26px;
                font-weight: bold;
            }
        }
      
        .forgot-password-form {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 40px;

            .forgot-password-form-row {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .forgot-password-form-row-label {
                    width: 100%;
                    text-align: left;
                }

                .forgot-password-form-row-input {
                    position: relative;
                    display: flex;
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    border: 2px solid $white;
                    background-color: transparent;
                    color: $white;
                    font-size: 16px;
                    transition: border-color 0.3s;
            
                    &:focus {
                        outline: none;
                        border-color: $magenta;
                    }

                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus {
                        -webkit-text-fill-color: $white;  // Text color
                        -webkit-box-shadow: 0 0 0px 1000px $trans-dark-blue inset;  // Background color
                    }
                }
            }
      
            .forgot-password-form-error-message {
                width: 100%;
                color: $alert-yellow;
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 130%;
            }
                  
            .forgot-password-form-info-message {
                width: 100%;
                color: $light-blue;
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 130%;
            }
      
            .forgot-password-form-submit-button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto 0 0;
                border: none;
                border-radius: 5px;
                padding: 5px 15px;
                background-color: $magenta;
                color: $white;
                cursor: pointer;
                transition: background-color 0.3s;

                p {
                    font-family: sans-serif;
                    font-size: 18px;
                }
        
                &:hover {
                background-color: darken($magenta, 10%);
                }
            }
        }
        .forgot-password-form-footer {
            position: absolute;
            bottom: 20px;
            left: $forgot-password-form-desktop-side-padding;
            p {
                font-size: 16px;
            }

            .forgot-password-form-toggle-switch-container {
                display: flex;
                flex-direction: column;
                border: none;
                background-color: transparent;
                a { text-decoration: none; }

                .forgot-password-form-toggle-label {
                    padding-right: 5px;
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                    color: $alert-yellow;
                    transition: opacity 0.4s ease;
                    cursor: pointer;
                }
            }
        }
    }
}