$about-us-page-max-width: 1200px;
$about-us-pagee-desktop-side-padding: 80px; // Padding on left and right sides on desktop viewport
$about-us-page-tablet-side-padding: 40px; // Padding on left and right sides of tablet viewport
$about-us-page-mobile-side-padding: 20px; // Padding on left and right sides of mobile viewport

.about-us-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .about-us-page-title-section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 400px;
        background-image: url('https://res.cloudinary.com/dnmr13rcg/image/upload/f_auto,q_auto/small_man_plays_chess_with_robot_16882f0e0d');
        background-size: cover;
        background-position-x: center;
        background-position-y: 75%;
        
        .about-us-page-title-section-text-container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(8px);
            background-color: rgba(22, 11, 44, 0.75);
            color: $white;

            .about-us-page-title-section-title {
                max-width: 1200px;
                text-align: center;
                padding: 10px $about-us-pagee-desktop-side-padding;

                .about-us-page-title-section-title-span {
                    color: $magenta;
                    font-weight: bold;
                }

                h1 {
                    font-size: 60px;
                    font-weight: 600;
                    line-height: 100%;
                }
            }

            .about-us-page-title-section-subtitle {
                max-width: 1200px;
                text-align: center;
                padding: 10px $about-us-pagee-desktop-side-padding;

                .about-us-page-title-section-subtitle-span {
                    color: $magenta;
                    font-weight: bold;
                }

                p {
                    font-size: 20px;
                    font-family: sans-serif;
                }
            }
        }
    }

    .about-us-page-company-description-section {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 40px $about-us-pagee-desktop-side-padding;
        background-color: $white;

        .about-us-page-company-description-section-text-container {
            display: flex;
            flex-direction: column;
            padding: 0px 20px 0px 0px;
            width: 50%;
            max-width: calc($about-us-page-max-width * 0.5);
            justify-content: center;
            align-items: center;
            text-align: left;
            color: $black;
      
            .about-us-page-company-description-section-title {
              width: 100%;
      
              .about-us-page-company-description-section-title-span {
                color: $dark-blue;
              }
      
              h2 {
                font-size: 40px;
                font-weight: 600;
                line-height: 100%;
              }
            }
      
            .about-us-page-company-description-section-subtitle {
              width: 100%;
              padding: 20px 0px;

              .about-us-page-company-description-section-subtitle-span {
                color: $magenta;
                font-weight: bold;
              }
      
              p {
                font-size: 20px;
                font-family: sans-serif;
              }
            }
        }

        .about-us-page-company-description-section-image-container {
            position: relative;
            display: flex;
            justify-content: flex-start;
            width: 50%;
            height: auto;
            max-width: calc($about-us-page-max-width * 0.5);
            padding: 0px 0px 0px 20px;
            overflow: hidden;
          
            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
              object-fit: cover;
            }
          }
    }
}