.blogpage {
  background: $white;
  min-height: 100vh;
  height: fit-content;
}

// The featured post displayed front and center at top of page
.featured-post {
  position: relative;
  display: flex;
  width: 70%;
  max-width: 1200px;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: left;
  justify-content: center;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    transform: scale(1.015);
    transition-duration: 0.2s;
  }
}

.featured-post-image-container {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.featured-post-text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); // Transparency here
  color: $white;

  h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: $white;
  }
  a {
    display: inline-block;
    padding: 10px 20px;
    color: $white;
    text-decoration: none;
    border-radius: 5px;
    background-color: $grey;
  }
  .blog-post-read-length {
    font-style: italic;
    color: $white;
  }
}

// Here for the individual blog posts mapped beneath the featured post
.blog-post-list {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding: 5px;

  .blog-post {
    width: calc(33.333% - 10px);
    margin-bottom: 20px;
    position: relative;

    &:hover {
      transform: scale(1.015);
      transition-duration: 0.2s;
    }

    .blog-post-image-container {
      position: relative;
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      overflow: hidden;
    
      .slug-page-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
    .blog-post-text-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.5); // Transparency here
      color: $white;
      
      .blog-post-read-length {
        font-style: italic;
        color: $white;
      }
    
      h2 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 1399px) and (min-width: 1080px) {
  .blog-post-list {
    .blog-post {
      width: calc(50% - 10px);
    }
  }
}

@media screen and (max-width: 1079px) {
  .featured-post {
    width: 90%;

    h1 {
      font-size: 25px;
    }
    p {
      font-size: 18px;
    }
  }

  .blog-post-list {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .blog-post {
      width: 100%;

      h2 {
        font-size: 25px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

// ########################################################################################################################
// CSS Below is for the page of an individual blog post after being routed to from user selection
// ########################################################################################################################
.slug-page-background-color {  
  background-color: $white;
  width: 100%;
  height: 100%;
}

.slug-page {
  display: block;
  width: 50vw;
  margin-top: 2rem;
  margin-left: 25vw;
  margin-right: 25vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  .slug-page-title {
    display: flex;
    font-weight: 700;
    font-size: 4rem;
    justify-content: left;
    color: $black;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .slug-page-author-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 0.5rem;
    color: $black;
    white-space: nowrap;

    h2, h4 {
      font-style: italic;
      text-align: center;
      align-items: center;
    }
    h4 {
      padding-top: 0.25rem;
    }
    h2::after {
      content: '\00a0|\00a0'; // Add the pipe symbol with spacing around it
    }
  }

  .slug-page-time-text {
    text-align: left;
    color: $black;
    margin-bottom: 0.5rem;
  }

  .slug-page-image {
    width: 100%;
    height: auto;
  }

  .slug-page-body {
    display: flex;
    font-weight: 200;
    color: $black;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    max-width: 100%;
    white-space: pre-wrap;

    .youtube-embed-container {
      position: relative;
      width: 100%;
      aspect-ratio: 16 / 9;
      height: auto;
      overflow: hidden;
      
      iframe {
        max-width: 100%;
        max-height: 100%;
      }
    }

    iframe {
      position: relative;
      max-width: 100%;
      overflow: hidden;
    }
    a {
      color: $magenta;
    }
    p {
      font-size: 1.8rem;
      text-align: justify;
    }
    p img {
      display: block;
      margin: 2rem auto;
    }
    img {
      max-width: 75%;
      height: auto;
    }
  }
}

@media screen and (max-width: 1079px) { 
  .slug-page {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    justify-content: left;

    .slug-page-title {
      font-size: 28px;
      text-align: left;
    }
  
    .slug-page-author-date {
      justify-content: left;

      h2 {
        font-size: 2rem;
        text-align: left;
      }
      h4 {
        font-size: 1.6rem;
        text-align: left;
      }

    }
    .slug-page-body p {
      text-align: left;
      font-size: 1.6rem;
    }
  
    .slug-page-body p img {
      display: block;
      margin: 2rem auto;
    }
  
    .slug-page-body img {
      max-width: 100%;
      height: auto;
    }
  }
}