.blogpage {
  background: $black;
  min-height: 100vh;
  height: fit-content;
}

.featured-post {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  border: 1px solid $white;
  background: $black;

  img {
    width: 100%;
    height: auto; /* Adjust the height as needed */
    object-fit: cover;
  }
  h1 {
    font-size: 75px;
    font-weight: 600;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
  }
  a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  &:hover {
    transform: scale(1.015);
    transition-duration: 0.2s;
  }
}

.blog-post-list {
  margin-left: 18%;
  margin-right: 18%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: $black;
  box-shadow: 4px 4px 8px 4px $white;
  padding: 20px;
  border-radius: 0 50px 0 50px;

  .blog-post {
    width: 33.333%;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
    img {
      width: 100%;
      height: auto; /* Adjust the height as needed */
      object-fit: cover;
    }
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
    }
    a {
      display: inline-block;
      margin-top: 10px;
      padding: 10px 20px;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }
    &:hover {
      transform: scale(1.015);
      transition-duration: 0.2s;
    }
  }
}

.slug-page-background-color {  
  background-color: $sepia;
  width: 100%;
  height: 100%;
}

.slug-page {
  display: block;
  width: 50vw;
  margin-top: 2rem;
  margin-left: 25vw;
  margin-right: 25vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  .slug-page-title {
    font-weight: 700;
    color: $black;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .slug-page-author-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: $black;
    white-space: nowrap;

    h2, h4 {
      font-style: italic;
      text-align: center; /* Center text within each heading */
      align-items: center;
    }

    h4 {
      padding-top: 0.25rem;
    }

    h2::after {
      content: '\00a0|\00a0'; /* Add the pipe symbol with spacing around it */
    }
  }

  .slug-page-image {
    width: 100%;
    height: auto;
  }

  .slug-page-body {
    font-weight: 200;
    color: $black;
    text-align: center;
    justify-content: center;
    margin: 25px 0;
    max-width: 100%;
    white-space: pre-wrap;
  }

  .slug-page-body p {
    font-size: 1.8rem;
    text-align: justify;
  }

  .slug-page-body p img {
    display: block;
    margin: 2rem auto;
  }

  .slug-page-body img {
    max-width: 75%;
    height: auto;
  }
}


@media screen and (max-width: 1079px) {
  .featured-post {
    width: 90%;
  }

  .blog-post-list {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    .blog-post {
      width: 100%;
    }
  }
    
  .slug-page {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    justify-content: left;

    .slug-page-title {
      font-size: 28px;
      text-align: left;
    }
  
    .slug-page-author-date {
      justify-content: left;

      h2 {
        font-size: 2rem;
        text-align: left;
      }
      h4 {
        font-size: 1.6rem;
        text-align: left;
      }

    }
    .slug-page-body p {
      text-align: left;
      font-size: 1.6rem;
    }
  
    .slug-page-body p img {
      display: block;
      margin: 2rem auto;
    }
  
    .slug-page-body img {
      max-width: 100%;
      height: auto;
    }
  }
}