.homepage {
  background-image: url("/images/styling/layered-peaks1-haikei.svg");
  background-size: cover;
  min-height: 100vh;
  height: fit-content;

  .hero-section {
    display: grid;
    grid-template-columns: 500px calc(100% - 500px);
    min-height: 90vh;

    .hero-text-container {
      display: flex;
      text-align: left;
      align-items: center;
      justify-content: flex-end;
      animation: fadeIn 0.5s ease-in;
    
      .hero-text-span {
        font-weight: 700;
        animation: fadeIn 2.5s ease-in;
      }
    }

    .hero-image-container {
      position: relative;
      object-fit: contain;
      animation: fadeIn 0.5s ease-in;
    }
  }
}

@media screen and (max-width: 1079px) {
  .homepage {
    .hero-section {
      grid-template-columns: 100%;
      grid-template-rows: 50% 50%;

      .hero-text-container {
        padding-left: 10%;
        justify-content: left;

        h1 {
          font-size: 42px;
        }
      }
    
      .hero-image-container {
        min-height: 35vh;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}