$homepage-max-width: 1600px; // Maximum width for any div in the homepage
$homepage-desktop-side-padding: 80px; // Padding on left and right sides on desktop viewport
$homepage-tablet-side-padding: 40px; // Padding on left and right sides of tablet viewport
$homepage-mobile-side-padding: 20px; // Padding on left and right sides of mobile viewport
$homepage-button-border-radius: 5px; // Consistent border radius throughout page

.homepage {
  position: relative;
  display: flex;
  flex-direction: column;

  .homepage-hero-section {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    overflow: hidden;
    background-image: url("/images/styling/layered-peaks1-haikei.svg");
    background-size: cover;

    .homepage-hero-section-text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 40%;
      padding: 0px 0px 0px $homepage-desktop-side-padding;
      animation: fadeIn 0.5s ease-in;

      // Remain on the right of your 40% chunk when screen width exceeds $homepage-max-width + 80px padding on either side (160px)
      @media screen and (min-width: calc($homepage-max-width + ($homepage-desktop-side-padding * 2))) {
        padding: 0px 0px 0px calc((100% - $homepage-max-width) / 2);
      }

      .homepage-hero-section-large-slogan {
        width: 100%;
        text-align: left;

        .homepage-hero-section-text-span {
          font-weight: 700;
          animation: fadeIn 2.5s ease-in;
        }
  
        h1 {
          font-size: 42px;
          line-height: 100%;
        }
      }

      // Hero font sizes as we approach tablet viewport width
      @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .homepage-hero-section-large-slogan h1 {font-size: 40px;}
      }

      .homepage-hero-section-button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        .homepage-hero-section-get-started-button {
          border: none;
          background: none;
          font: inherit;
          display: flex;
          padding: 10px 15px;
          justify-content: center;
          align-items: center;
          border-radius: $homepage-button-border-radius;
          background-color: $black;
          color: $white;
          white-space: nowrap;
          cursor: pointer;
  
          h4 {
            font-size: 16px;
            font-weight: 600;
          }
        }

        .homepage-hero-section-learn-more-button {
          display: flex;
          padding: 10px 15px;
          margin-left: 10px;
          justify-content: center;
          align-items: center;
          border-radius: $homepage-button-border-radius;
          background-color: $white;
          color: $black;
          white-space: nowrap;
          text-decoration: none;
  
          h4 {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }

    .homepage-hero-section-image-container {
      position: relative;
      width: 60%;
      height: 100%;
      margin: auto 0px -2px auto; // -2px bottom removes the split under table and following section
      aspect-ratio: 549.52 / 326.98;
      animation: fadeIn 0.5s ease-in;
      img {transform: translateX(4px) translateY(4px);}

      .homepage-hero-section-hero-piece-1 {
        position: absolute;
        top: 4%;
        left: 8%;
        width: 13%;
        padding-top: 13%;
        will-change: transform;
        animation: home-hero-piece-float-2 12s infinite ease-in-out;
        @-moz-document url-prefix() {animation: none;}
      }
      .homepage-hero-section-hero-piece-2 {
        position: absolute;
        top: 29%;
        left: 11%;
        width: 4%;
        padding-top: 4%;
        animation: home-hero-twinkle-animation-2 3.8s infinite;
      }
      .homepage-hero-section-hero-piece-3 {
        position: absolute;
        top: 22%;
        left: 18%;
        width: 9%;
        padding-top: 9%;
        will-change: transform;
        animation: home-hero-piece-float-1 16s infinite ease-in-out;
        @-moz-document url-prefix() {animation: none;}
      }
      .homepage-hero-section-hero-piece-4 {
        position: absolute;
        top: 15%;
        left: 28%;
        width: 4%;
        padding-top: 4%;
        animation: home-hero-twinkle-animation-1 3.5s infinite;
      }
      .homepage-hero-section-hero-piece-5 {
        position: absolute;
        top: 15%;
        left: 33%;
        width: 9%;
        padding-top: 9%;
        will-change: transform;
        animation: home-hero-piece-float-1 15s infinite ease-in-out;
        @-moz-document url-prefix() {animation: none;}
      }
      .homepage-hero-section-hero-piece-6 {
        position: absolute;
        top: 36%;
        left: 28%;
        width: 9%;
        padding-top: 9%;
        will-change: transform;
        animation: home-hero-piece-float-2 13s infinite ease-in-out;
        @-moz-document url-prefix() {animation: none;}
      }
      .homepage-hero-section-hero-piece-7 {
        position: absolute;
        top: 32%;
        left: 26%;
        width: 4%;
        padding-top: 4%;
        animation: home-hero-twinkle-animation-2 4s infinite;
      }
      .homepage-hero-section-hero-piece-8 {
        position: absolute;
        top: 35%;
        left: 35%;
        width: 4%;
        padding-top: 4%;
        animation: home-hero-twinkle-animation-2 3.5s infinite;
      }
      .homepage-hero-section-hero-piece-9 {
        position: absolute;
        top: 45%;
        left: 38%;
        width: 4%;
        padding-top: 4%;
        animation: home-hero-twinkle-animation-1 3.7s infinite;
      }
      .homepage-hero-section-hero-piece-10 {
        position: absolute;
        top: 52%;
        left: 27%;
        width: 4%;
        padding-top: 4%;
        animation: home-hero-twinkle-animation-2 3s infinite;
      }
      .homepage-hero-section-hero-piece-11 {
        position: absolute;
        top: 36%;
        left: 9%;
        width: 13%;
        padding-top: 13%;
        will-change: transform;
        animation: home-hero-piece-float-1 12s infinite ease-in-out;
        @-moz-document url-prefix() {animation: none;}
      }
    }
  }

  .homepage-investor-roadmap-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px $homepage-desktop-side-padding;
    background-color: $chrome;

    .homepage-investor-roadmap-section-title-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: $homepage-max-width;
      padding: 20px 0px 0px 0px;
      background-color: $chrome;
      color: $black;
      text-align: center;
      
      .homepage-investor-roadmap-section-title {
        .homepage-investor-roadmap-section-title-span {color: $magenta;}
        h1 {
          font-size: 40px;
          font-weight: 600;
        }
      }

      .homepage-investor-roadmap-section-subtitle {
        padding-top: 15px;
        p {font-size: 20px;}
      }
    }

    .homepage-investor-roadmap-section-roadmap-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0px;
      max-width: $homepage-max-width;

      .homepage-investor-roadmap-section-roadmap-step {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 40px 0px;

        .homepage-investor-roadmap-section-roadmap-step-commentary {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 60%;
          padding: 10px;
          color: $black;
          border: 2px solid $black;
          border-radius: 10px;

          .homepage-investor-roadmap-section-roadmap-step-button {
            display: flex;
            padding: 10px 15px;
            margin-top: 20px;
            justify-content: center;
            align-items: center;
            border-radius: $homepage-button-border-radius;
            background-color: $soft-purple;
            color: $white;
            white-space: nowrap;
            text-decoration: none;
            transition: background-color 0.2s ease-in-out;
            &:hover {background-color: $magenta;}
    
            h4 {
              font-size: 16px;
              font-weight: 600;
            }
            // Hides the top and left border portions
            &::before {
              content: '';
              position: absolute;
              left: -2px;
              bottom: 0px;
              background-color: $chrome;
              width: 10px;
              height: 55%;
            }
            &::after {
              content: '';
              position: absolute;
              top: -2px;
              right: 0px;
              background-color: $chrome;
              width: 75%;
              height: 10px;
            }
          }

          .homepage-investor-roadmap-section-roadmap-commentary-images-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 15px;
            width: 100%;
  
            .homepage-investor-roadmap-section-roadmap-commentary-image {
              display: flex;
              margin: 0px 40px 0px 0px;
              width: 75px;
              height: 75px;
              border-radius: 50%;
              overflow: hidden;
              transition: transform 0.2s ease-in-out;
              &:hover {transform: scale(1.03);}
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }

          // Hides the bottom and right border portions
          &::before {
            content: '';
            position: absolute;
            right: -2px;
            top: 0px;
            background-color: $chrome;
            width: 10px;
            height: 55%;
          }
          &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0px;
            background-color: $chrome;
            width: 75%;
            height: 10px;
          }
        }

        .homepage-investor-roadmap-section-step-icon-container {
          display: flex;
          justify-content: center;
          width: 40%;
          padding: 10px;

          .homepage-investor-roadmap-section-step-icon {
            display: flex;
            aspect-ratio: 1 / 1;
            width: 100%;
            max-width: 300px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .homepage-featured-blog-posts-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px $homepage-desktop-side-padding;
    background-color: $chrome;

    .homepage-featured-blog-posts-section-title-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: $homepage-max-width;
      justify-content: center;
      align-items: center;
      padding: 0px 0px 40px 0px;
      color: $black;

      .homepage-featured-blog-posts-section-title {
        text-align: center;

        h1 {
          font-size: 40px;
          font-weight: 600;
          font-family: sans-serif;
        }
      }

      .homepage-featured-blog-posts-section-subtitle {
        padding-top: 20px;
        text-align: center;

        p {font-size: 20px;}
      }
    }

    .homepage-featured-blog-posts-section-posts-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: $homepage-max-width;
      justify-content: center;
      
      .homepage-featured-blog-posts-section-top-post-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 0px 20px 0px 0px;
        text-align: left;
        a {text-decoration: none;}

        .homepage-featured-blog-posts-section-top-post-header-container {
          padding: 0px 0px 15px 0px;
          h3 {
            font-family: sans-serif;
            font-size: 26px;
            font-weight: 600;
            color: $black;
          }
        }

        .homepage-featured-blog-posts-section-top-post-image-container {
          display: flex;
          justify-content: flex-start;
          width: inherit;
          height: inherit;
          border-radius: 10px;
          overflow: hidden;
        
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
          }
        }

        .homepage-featured-blog-posts-section-top-post-description-container {
          padding: 15px 0px 0px 0px;
          h3 {
            font-size: 30px;
            font-weight: 600;
            color: $black;
            padding: 0px 0px 5px 0px;
          }
          h4 {
            font-family: sans-serif;
            font-size: 20px;
            color: $black;
            padding: 5px 0px;
            a {color: $black;}
          }
          p {
            font-size: 18px;
            font-style: italic;
            color: $grey;
          }
        }

        &:hover .homepage-featured-blog-posts-section-top-post-image-container img,
        .homepage-featured-blog-posts-section-top-post-description-container:hover + .homepage-featured-blog-posts-section-top-post-image-container {
          transform: scale(1.04);
        }
      }

      .homepage-featured-blog-posts-section-other-posts-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 0px 0px 0px 20px;
        text-align: left;
        a {text-decoration: none;}

        .homepage-featured-blog-posts-section-other-posts-header-container {
          padding: 0px 0px 15px 0px;

          .homepage-featured-blog-posts-section-other-posts-header-span {
            color: $magenta;
          }

          h3 {
            font-family: sans-serif;
            font-size: 26px;
            font-weight: 600;
            color: $black;
          }
        }

        .homepage-featured-blog-posts-section-other-posts-border-frame {
          position: relative;
          display: flex;
          flex-direction: column;
          border: 2px solid $black;
          border-radius: 10px;
          padding: 5px 0px;

          .homepage-featured-blog-posts-section-other-posts-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: flex-start;
            padding: 10px 0px;
  
            .homepage-featured-blog-posts-section-other-posts-row-identifier {
              display: flex;
              justify-content: center;
              width: 40px;
              h4 {
                font-size: 32px;
                color: $magenta;
              }
            }
  
            .homepage-featured-blog-posts-section-other-posts-row-description {
              display: flex;
              flex-direction: column;
              width: 100%;
              h3 {
                font-size: 30px;
                font-weight: 600;
                a {
                  color: $black;
                  &:hover {color: $dark-blue;}
                }
              }
              h4 {
                font-family: sans-serif;
                font-size: 20px;
                color: $black;
                padding: 5px 0px;
                a {color: $black;}
              }
              p {
                font-size: 18px;
                font-style: italic;
                color: $grey;
              }
            }

            // Hides the top and left border portions
            &::before {
              content: '';
              position: absolute;
              left: -2px;
              bottom: 0px;
              background-color: $chrome;
              width: 10px;
              height: 65%;
            }
            &::after {
              content: '';
              position: absolute;
              top: -2px;
              right: 0px;
              background-color: $chrome;
              width: 65%;
              height: 10px;
            }
          }

          // Hides the bottom and right border portions
          &::before {
            content: '';
            position: absolute;
            right: -2px;
            top: 0px;
            background-color: $chrome;
            width: 10px;
            height: 65%;
          }
          &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0px;
            background-color: $chrome;
            width: 65%;
            height: 10px;
          }
        }
      }
    }

    .homepage-featured-blog-posts-section-blogpage-button {
      // Remove default button appearances
      border: none;
      background: none;
      font: inherit;

      display: flex;
      padding: 10px 15px;
      justify-content: center;
      align-items: center;
      border: 1px solid $black;
      border-radius: $homepage-button-border-radius;
      white-space: nowrap;
      cursor: pointer;

      h4 {
        font-size: 16px;
        font-weight: 600;
      }
      a {
        text-decoration: none;
        color: $black;
      }
    }
  }

  .homepage-join-newsletter-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 40px $homepage-desktop-side-padding;
    background-color: $grey;

    .homepage-join-newsletter-section-text-container {
      display: flex;
      flex-direction: column;
      width: 60%;
      max-width: calc($homepage-max-width * 0.6);
      justify-content: center;
      align-items: flex-start;
      text-align: left;
      color: $white;

      .homepage-join-newsletter-section-title {
        .homepage-join-newsletter-section-title-span {
          color: $magenta;
        }

        h2 {
          font-size: 40px;
          font-weight: 600;
          font-family: sans-serif;
        }
      }
    }

    .homepage-join-newsletter-section-sign-up-container {
      display: flex;
      flex-direction: column;
      width: 40%;
      max-width: calc($homepage-max-width * 0.4);

      .homepage-join-newsletter-section-sign-up-input-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        a {text-decoration: none;}

        .homepage-join-newsletter-section-sign-up-email-box {
          width: 100%;
          margin-right: 20px;
          border: 1px solid $white;
          background-color: transparent;
          padding: 10px 15px;
          font-size: 16px;
          color: $white;
          border-radius: $homepage-button-border-radius;
          transition: border-color 0.3s ease-in-out;
        
          &::placeholder {
            color: $white;
            opacity: 0.7;
          }
        
          &:focus {
            outline: none; // Removes default focus line
            border-color: $magenta;
          }
        }

        .homepage-join-newsletter-section-sign-up-button {
          // Remove default button appearances
          border: none;
          background: none;
          font: inherit;

          display: flex;
          background-color: $white;
          padding: 10px 15px;
          justify-content: center;
          align-items: center;
          border-radius: $homepage-button-border-radius;
          white-space: nowrap;
          color: $black;
          cursor: pointer;
    
          h4 {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }

      .homepage-join-newsletter-section-sign-up-description {
        display: flex;
        width: 100%;
        padding: 10px 0px;
        text-align: left;
        color: $white;

        p {
          font-size: 14px;
          font-family: sans-serif;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .homepage {
    .homepage-hero-section {
      flex-direction: column;
      width: 100%;

      .homepage-hero-section-text-container {
        width: 100%;
        max-width: none;
        padding: 40px $homepage-tablet-side-padding 0px $homepage-tablet-side-padding;

        .homepage-hero-section-large-slogan h1 {font-size: 36px;}
      }

      .homepage-hero-section-image-container {
        width: 100%;
        max-width: none;
      }
    }

    .homepage-investor-roadmap-section {
      padding: 0px $homepage-mobile-side-padding;
  
      .homepage-investor-roadmap-section-roadmap-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0px;
        max-width: $homepage-max-width;
  
        .homepage-investor-roadmap-section-roadmap-step {  
          .homepage-investor-roadmap-section-roadmap-step-commentary {width: 65%;}
          .homepage-investor-roadmap-section-step-icon-container {width: 35%;}
        }
      }
    }

    .homepage-featured-blog-posts-section {
      padding: 40px $homepage-tablet-side-padding;
  
      .homepage-featured-blog-posts-section-title-container {
        .homepage-featured-blog-posts-section-title h1 {font-size: 36px;}
      }
  
      .homepage-featured-blog-posts-section-posts-container {        
        .homepage-featured-blog-posts-section-top-post-container {  
          .homepage-featured-blog-posts-section-top-post-description-container {
            h3 {font-size: 24px;}
            h4 {font-size: 18px;}
            p {font-size: 16px;}
          }
        }
  
        .homepage-featured-blog-posts-section-other-posts-container {  
          .homepage-featured-blog-posts-section-other-posts-border-frame {
            .homepage-featured-blog-posts-section-other-posts-row {
              padding: 0px 0px 10px 0px;

              .homepage-featured-blog-posts-section-other-posts-row-identifier h4 {
                font-size: 26px;
              }
    
              .homepage-featured-blog-posts-section-other-posts-row-description {
                h3 {font-size: 24px;}
                h4 {font-size: 18px;}
                p {font-size: 16px;}
              }
            }
          }
        }
      }
    }

    .homepage-join-newsletter-section {
      padding: $homepage-tablet-side-padding;
  
      .homepage-join-newsletter-section-text-container {
        width: 50%;
        max-width: none;
        padding-right: 20px;

        .homepage-join-newsletter-section-title h2 {font-size: 34px;}
      }
  
      .homepage-join-newsletter-section-sign-up-container {
        width: 50%;
        max-width: none;
        padding-left: 20px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .homepage {
    .homepage-hero-section {
      flex-direction: column;
      width: 100%;

      .homepage-hero-section-text-container {
        width: 100%;
        max-width: none;
        padding: 40px $homepage-mobile-side-padding 0px $homepage-mobile-side-padding;
        .homepage-hero-section-large-slogan h1 {font-size: 36px;}
      }

      .homepage-hero-section-image-container {
        width: 100%;
        max-width: none;
      }
    }

    .homepage-investor-roadmap-section {
      padding: 0px $homepage-mobile-side-padding;
  
      .homepage-investor-roadmap-section-roadmap-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0px;
        max-width: $homepage-max-width;
  
        .homepage-investor-roadmap-section-roadmap-step {
          flex-direction: column-reverse; &.reversed {flex-direction: column;}
          margin: 20px 0px;

          .homepage-investor-roadmap-section-roadmap-step-commentary { 
            width: 100%;
            .homepage-investor-roadmap-section-roadmap-step-button {
              align-self: center;
            }
            .homepage-investor-roadmap-section-roadmap-commentary-images-container {
              width: 100%;
              justify-content: space-between;
              .homepage-investor-roadmap-section-roadmap-commentary-image {
                margin: 0;
              }
            }
          }
          .homepage-investor-roadmap-section-step-icon-container {
            width: 100%;
            .homepage-investor-roadmap-section-step-icon {
              max-width: 200px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    .homepage-featured-blog-posts-section {
      padding: $homepage-mobile-side-padding;
  
      .homepage-featured-blog-posts-section-title-container {
        padding: 0px 0px 20px 0px;
        .homepage-featured-blog-posts-section-title h1 {
          font-size: 34px;
        }
      }
  
      .homepage-featured-blog-posts-section-posts-container {
        flex-direction: column;

        .homepage-featured-blog-posts-section-top-post-container {
          padding: 0px 0px 20px 0px;
          width: 100%;
          .homepage-featured-blog-posts-section-top-post-description-container {
            h3 {font-size: 24px;}
            h4 {font-size: 18px;}
            p {font-size: 16px;}
          }
        }
  
        .homepage-featured-blog-posts-section-other-posts-container {
          padding: 0px 0px 20px 0px;
          width: 100%;
          .homepage-featured-blog-posts-section-other-posts-border-frame {
            .homepage-featured-blog-posts-section-other-posts-row {
              padding: 0px 0px 10px 0px;

              .homepage-featured-blog-posts-section-other-posts-row-identifier h4 {
                font-size: 26px;
              }
    
              .homepage-featured-blog-posts-section-other-posts-row-description {
                h3 {font-size: 22px;}
                h4 {font-size: 18px;}
                p {font-size: 16px;}
              }
            }
          }
        }
      }
    }

    .homepage-join-newsletter-section {
      padding: $homepage-mobile-side-padding;
      flex-direction: column;
  
      .homepage-join-newsletter-section-text-container {
        width: 100%;
        max-width: none;

        .homepage-join-newsletter-section-title h2 {font-size: 34px;}
      }
  
      .homepage-join-newsletter-section-sign-up-container {
        width: 100%;
        max-width: none;
        padding: 0px;

        .homepage-join-newsletter-section-sign-up-input-container {
          flex-direction: column;

          .homepage-join-newsletter-section-sign-up-email-box {
            margin: 10px 0px;
          }

          .homepage-join-newsletter-section-sign-up-button {
            width: 100%;
            border-radius: 5px;
          }
        }
      }
    }
  }
}