.homepage {
  background: linear-gradient(
    to bottom left,
    $soft-purple 0%,
    $light-blue 50%,
    $soft-purple 100%
  );

  min-height: 100vh;
  height: fit-content;
}

.hero-section {
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 90vh;
}

.hero-text-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 3vw;

  .hero-text--span {
    font-weight: 700;
  }
}

.hero-image-container {
  position: relative;
  object-fit: contain;
  width: 100%;
}

@media screen and (max-width: 1079px) {
  .hero-section {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }

  .hero-text-container {
    justify-content: center;
    font-size: 7vw;
  }

  .hero-image-container {
    min-height: 35vh;
  }
}
