$login-form-desktop-side-padding: 40px;
$login-form-tablet-side-padding: 20px;

.login-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100svh - 130px);
    background-image: linear-gradient(45deg, $soft-purple, $dark-blue);
    background-size: 140%;
    animation: login-form-background-animation 30s infinite alternate;

    .login-form-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $login-form-desktop-side-padding;
        border-radius: 10px;
        box-shadow: 5px 8px 5px 0px rgba(0, 0, 0, 0.2);
        width: 400px;
        height: auto;
        color: $white;
        background-color: $dark-blue;
      
        .login-form-title {
            position: absolute;
            top: 20px;
            left: $login-form-desktop-side-padding;

            h1 {
                font-size: 32px;
                font-weight: bold;
            }
        }
      
        .login-form {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 40px;
            margin-bottom: 40px;

            .login-form-row {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .login-form-row-label {
                    width: 100%;
                    text-align: left;
                }

                .login-form-row-input {
                    position: relative;
                    display: flex;
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    border: 2px solid $white;
                    background-color: transparent;
                    color: $white;
                    font-size: 16px;
                    transition: border-color 0.3s;
            
                    &:focus {
                        outline: none;
                        border-color: $magenta;
                    }

                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus {
                        -webkit-text-fill-color: $white;  // Text color
                        -webkit-box-shadow: 0 0 0px 1000px $trans-dark-blue inset;  // Background color
                    }
                }
            }
      
            .login-form-error-message {
                width: 100%;
                color: $alert-yellow;
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 130%;
            }
                  
            .login-form-info-message {
                width: 100%;
                color: $light-blue;
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 130%;
            }
      
            .login-form-submit-button {
                border: none;
                font: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                padding: 5px 15px;
                margin: 0px auto 0px 0px;
                border-radius: 5px;
                background-color: $trans-magenta;
                color: $white;
                white-space: nowrap;
                cursor: pointer;
                transition: opacity 0.3s ease-in-out;
                &:hover {
                  opacity: 0.9;
                }
          
                p {
                  font-size: 16px;
                  font-weight: 600;
                }
            }
        }
        .login-form-footer {
            position: absolute;
            bottom: 20px;
            left: $login-form-desktop-side-padding;
            p {
                font-size: 16px;
            }

            .login-form-toggle-switch-container {
                display: flex;
                flex-direction: column;
                border: none;
                background-color: transparent;
                a { text-decoration: none; }

                .login-form-toggle-label {
                    padding-right: 5px;
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                    color: $alert-yellow;
                    transition: opacity 0.4s ease;
                    cursor: pointer;
                }
            }
        }

        // .login-form-forgot-password is applied to an <a> tag
        a { text-decoration: none; }
        .login-form-forgot-password {
            position: absolute;
            right: $login-form-desktop-side-padding;
            bottom: 20px;
            display: flex;

            p {
                font-size: 14px;
                color: $white;
                opacity: 0.5;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .login-form-wrapper {
        min-height: calc(100svh - 115px);
        .login-form-container {
            padding: 30px $login-form-tablet-side-padding;
            width: 350px;
            .login-form-title {
                left: $login-form-tablet-side-padding;
                h1 { font-size: 28px; }
            }
            .login-form-footer {
                left: $login-form-tablet-side-padding;
            }
            .login-form-forgot-password {
                right: $login-form-tablet-side-padding;
            }
        }
    }
}