// font size
$default-font-size: 1.6rem;

// colors
$white: #FFFFFF;
$black: #000000;
$grey: #242323;
$light-grey: #808080;
$very-light-grey: #D3D3D3;
$lighter-light-grey: #F1F1F1;
$chrome: #F1FAFF;
$grey-tint: #E8EDF5;
$soft-purple: #1B0053;
$light-purple: #820EA9;
$dark-blue: #2D64A9;
$trans-dark-blue: rgba(45, 100, 169, 0.85);
$light-blue: #40C9FF;
$magenta: #E81CFF;
$trans-magenta: rgba(232, 28, 255, 0.9);
$sepia: rgba(244, 236, 216, 1);
$alert-yellow: #FFCC00;
$trans-purple: rgba(22, 11, 44, 0.75);

// global style options
$global-button-border-radius: 5px;
$global-max-width: 1600px; // maximum width for any div
$global-desktop-side-padding: 80px; // padding on left and right sides on desktop viewport
$global-tablet-side-padding: 40px; // padding on left and right sides of tablet viewport
$global-mobile-side-padding: 20px; // padding on left and right sides of mobile viewport