// font size
$default-font-size: 1.6rem;

// colors
$white: #fff;
$black: #000;
$grey: #242323;
$very-light-grey: #D3D3D3;
$chrome: #dbe2e9;
$soft-purple: #1B0053;
$light-blue: #40C9FF;
$magenta: #E81CFF;
$sepia: rgba(244, 236, 216, 1);
$alert-yellow: #FFCC00;
$trans-purple: rgba(22, 11, 44, 0.75);