// font size
$default-font-size: 1.6rem;

// colors
$white: #FFFFFF;
$black: #000000;
$grey: #242323;
$light-grey: #808080;
$very-light-grey: #D3D3D3;
$lighter-light-grey: #F1F1F1;
$chrome: #F1FAFF;
$soft-purple: #1B0053;
$light-purple: #820EA9;
$dark-blue: #2D64A9;
$trans-dark-blue: rgba(45, 100, 169, 0.85);
$light-blue: #40C9FF;
$magenta: #E81CFF;
$trans-magenta: rgba(232, 28, 255, 0.9);
$sepia: rgba(244, 236, 216, 1);
$alert-yellow: #FFCC00;
$trans-purple: rgba(22, 11, 44, 0.75);