.alert-banner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    background-color: $light-blue;
    z-index: 100;
    transform: 0.3s ease;

    .hidden {
        transform: translateY(-100%);
    }

    .alert-banner-text {
        position: relative;
        display: inline-block;
        text-align: center;
        
        h3 {
            font-size: larger;
        }
        a {
            color: $magenta;
        }
    }

    .alert-banner-exit {
        position: absolute;
        right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 1079px) {

    .alert-banner {
        display: none;
    }
}