.alert-banner {
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
    padding: 5px;
    text-align: center;
    background-color: $light-blue;
    backdrop-filter: blur(20px);
    z-index: 100;

    h3 {
        font-size: larger;
    }
    a {
        color: $magenta;
    }
}

@media screen and (max-width: 1079px) {

    .alert-banner {
        display: none;
    }
}