.footer {
    position: relative;
    display: flex;
    background-color: $soft-purple;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0 20px;

    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 100%;
        overflow: hidden;

        img {
            height: 65px;
            width: auto;
            animation: spin 15s linear infinite;
        }
    }

    .footer-copyright {
        font-size: 14px;
        color: $white;
        position: absolute;
        right: 20px;
    }
}

@media screen and (max-width: 1199px) {
    .footer {
        justify-content: space-between;
        padding: 0px 5px;

        .footer-copyright {
            right: 10px;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}