.footer {
    background-color: $soft-purple;

    .footer-logo {
        width: fit-content;
        height: 80px;
        margin: auto;
        
        img {
            display: block;
            height: 95%;
            width: auto;
            margin: auto;
            animation: spin 15s linear infinite;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}