.header {
  align-items: center;
  background-color: rgba(22, 11, 44, 0.75);
  z-index: 99; /* Ensure the header is above other content */

  .desktop-menu {
  position: static;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      height: 100%;
      width: 20%;
      justify-content: center;
      align-items: center;
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      &:hover {
        transform: scale(1.04);
        transition-duration: 0.2s;
      }
    }

    a {
      text-decoration: none;
      align-items: center;
      font-size: 2rem;
      margin: 2rem;
      color: white;
      white-space: nowrap;
    }
  }

  .mobile-menu {
    display: none;
    width: 100%;
    align-items: center;
    overflow: hidden;
    background-color: rgba(22, 11, 44, 0.75);
    border: 2px solid white;
    border-radius: 12px;
    transition: max-height 0.3s ease-in-out;

    h3 {
      height: fit-content;
      text-align: center;
      justify-content: center;
      padding: 5px;
      cursor: pointer;
      &:hover {
        transform: scale(1.02);
        transition-duration: 0.1s;
      }
      &.open {
        height: fit-content;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      height: 100%;
      width: 20%;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.3rem;
    }

    li {
      flex-direction: column;
      align-items: center;
      margin: 0.3rem;
      &:hover {
        transform: scale(1.04);
        transition-duration: 0.2s;
      }
    }

    a {
      text-decoration: none;
      align-items: center;
      font-size: 2rem;
      color: white;
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 1079px) {

  .header {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;

    .desktop-menu {
      display: none;
    }

    .mobile-menu {
      display: flex;
      flex-direction: column;
    }
  }
}
