.header {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $soft-purple;
  backdrop-filter: blur(20px);
  position: relative; // Ensure .header is positioned correctly
  z-index: 1;

  .desktop-menu {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .NavBar-Investant-Logo {
      position: relative;
      left: 0px;
      width: auto;
      justify-content: left;

      ul {
        justify-content: left;
        list-style: none;
      }
    }

    .NavBar-Navigation-Links {
      position: relative;
    
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding-bottom: 8px;
    
        .NavBar-Navigation-Links-Products-Dropdown {
          position: relative;
          display: flex;
          
          a {
            display: flex;
            align-items: center;

            .NavBar-Navigation-Links-Products-Dropdown-Arrow {
              padding-left: 4px;
              font-size: 16px;
            }
          }
    
          .NavBar-Navigation-Links-Products-Dropdown-Content {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50px;
            background-color: rgba(0, 0, 0, 0.6);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            margin-top: 10px;
            margin-left: 10px;
            overflow: hidden;
            transition: max-height 0.75s ease-in-out, opacity 0.5s ease-in-out;
            max-height: 0;
            opacity: 0;
            white-space: nowrap;
    
            li {
              display: flex;
              flex-direction: column;
              width: 100%;
              padding: 0px 5px;
              text-decoration: none;
              transition: transform 0.2s ease-in-out;
              &:hover {
                transform: scale(1.02);
              }
    
              button {
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                text-align: left;
                padding: 5px;
                color: $white;
                transition: color 0.2s ease-in-out;
                &:hover {
                  color: $magenta;
                }
                p {
                  font-size: 18px;
                }
              }
            }
          }
    
          &:hover .NavBar-Navigation-Links-Products-Dropdown-Content {
            max-height: 500px;
            opacity: 1;
          }
        }
      }
    }

    .NavBar-Media-Links {
      position: relative;
      right: 0px;
      width: auto;

      .NavBar-Media-Links-XLogo {
        transform-origin: 35px 17.5px;
        &:hover {
          animation: spin 1s ease;
          transform: scale(1);
        }
        &:not(:hover) {
          animation: spin-back 1s ease;
        }
      }

      ul {
        display: flex;
        flex-direction: row;
        justify-content: right;
        list-style: none;
      }
    }

    li {
      transition: transform 0.2s ease-in-out;
      &:hover {
        transform: scale(1.04);
      }
    }

    a {
      text-decoration: none;
      align-items: center;
      font-size: 2rem;
      margin: 1.5rem;
      color: $white;
      white-space: nowrap;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: $light-grey;
      }
    }
  }

  .mobile-top-banner {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px 0px 5px;
    
    .mobile-menu-logo {
      transform-origin: 25px 25px;

      &:hover {
        animation: spin 1s ease;
        transform: scale(1);
      }
      &:not(:hover) {
        animation: spin-back 1s ease;
      }
    }

    .mobile-menu-open {
      position: relative;
      width: 40px;
      height: 30px;
      margin-bottom: 5px;
      cursor: pointer;
    }
  }
}

.mobile-menu-container {
  position: sticky;
  z-index: 99;
  top: 0px;
  left: 0px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: -100vh;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.4s ease-in-out;

  .mobile-menu {
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    background-color: $soft-purple;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
    .mobile-menu-close {
      display: flex;
      width: fit-content;
      margin: 0px 0px 0px auto;
      cursor: pointer;

      &:hover {
        animation: spin 1s ease;
      }
      &:not(:hover) {
        animation: spin-back 1s ease;
      }

      img {
        width: 22px;
        height: 22px;
      }
    }
  
    .mobile-menu-navigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;

      .NavBar-Navigation-Links-Products-Dropdown-Content {
        display: flex;
        flex-direction: column;
        height: 0px;
        padding-top: 5px;
        overflow: hidden;
        transition: height 0.4s ease-in-out;

        li {
          padding-bottom: 0px;
          transition: transform 0.2s ease-in-out;
          &:hover {
            transform: scale(1.02);
          }

          button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 2px;
            text-align: left;
            color: $very-light-grey;
            transition: color 0.2s ease-in-out;
            &:hover {
              color: $magenta;
            }
            p {
              font-size: 18px;
            }
          }
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        .NavBar-Navigation-Links-Products-Dropdown-Arrow {
          padding-left: 4px;
          font-size: 16px;
        }
      }
  
      ul {
        list-style: none;
        text-align: center;
    
        li {
          padding-bottom: 10px;
    
          a {
            text-decoration: none;
            color: $white;
            font-weight: bold;
            transition: transform 0.2s ease-in-out;

            &:hover {
              transform: scale(1.04);
            }
          }
        }
      }
    }
  
    .mobile-menu-media-links {
      display: flex;
      justify-content: center;
  
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    
        li {
          padding: 0px 7px;
          transition: transform 0.1s ease-in-out;
          &:hover {
            transform: scale(1.05);
          }
  
          a {
            text-decoration: none;
            color: $white;
            font-weight: bold;
          }
        }
      }
    }
  }
}

// This class is added to the mobile-menu and mobile-menu-overlay when closed
.mobile-menu-fade-out {
  animation: fadeOut 0.4s ease-in-out;
}

@media screen and (max-width: 1199px) {
  .header {
    display: flex;
    align-items: flex-start;

    .desktop-menu {
      display: none;
    }

    .mobile-top-banner {
      display: flex;
    }
  }
}