// CSS reset to have a clean slate
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 75%;
}

body {
  box-sizing: border-box;
}

input[type=number] {-moz-appearance: textfield;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}

.grecaptcha-badge { visibility: hidden; }

.no-scroll { overflow: hidden; }