@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    color: $white;
}
h1 {
    font-size: 5rem;
    font-weight: 400;
}
h2 {
    font-size: 3rem;
    font-weight: 300;
}
h3 {
    font-size: 2.5rem;
    font-weight: 700;
}
h4 {
    font-size: 2rem;
    font-weight: 200;
}
h5 {
    font-size: 1.6rem;
    font-weight: 700;
}
p {
    font-size: 1.6rem;
    font-weight: 400;
}
.investant-net-span {
    color: $magenta;
    font-weight: bold;
}